include LICENSE
include README.rst
include gender_detector/data/ukprocessed.csv
include gender_detector/data/usprocessed.csv
include gender_detector/data/arprocessed.csv
include gender_detector/data/uyprocessed.csv
